/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    background-color: #F96167;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #F9E795;
    flex-wrap: wrap;
}

nav a {
    color: black;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #F9E795;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: #F96167;
}

ul {
    list-style-type: square;
    margin-left: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    margin-bottom: 1rem;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/* Remove underline and blue color from certificate links */
#certificates a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}

/* Optional: Style on hover to give subtle feedback */
#certificates a:hover {
    text-decoration: underline;
    color: #333;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
